Downloads
Desktop
Programming
Wallpapers
yay
.vscode
.yarn
.local
.mozilla
.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache
.cargo
.fehbg
.npm
.nvm
.oh-my-zsh
.pki
.ssh
.viminfo
.xsession*
.zxomp*
.zsh_history
.zshrc.pre-oh-my-zsh
yay
.config/discord
.config/Cider
.config/Code
.config/nvim/plugged
objects
